<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de visitantes</title>
</head>
<body>
    <h1>Lista de visitantes</h1>
    <p>Abaixo está a lista de visitantes do parque</p>

    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Nome completo</th>
                <th>Cpf</th>
                <th>Data de nascimento</th>
                <th>Data do ingresso</th>
                <th>Tipo do ingresso</th>
                <th>Número do ingresso</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Guilherme Walter</td>
                <td>03890096013</td>
                <td>17/06/1999</td>
                <td>07/10/2026</td>
                <td>VIP</td>
                <td>7dc243f0-a166-4ccc-8ace-74c08044aa4d</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Douglas Walter</td>
                <td>03896016055</td>
                <td>21/10/1996</td>
                <td>07/10/2026</td>
                <td>VIP</td>
                <td>95708763-3178-4404-af5a-f16dcace2369</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Eloi Walter</td>
                <td>118746952</td>
                <td>29/09/1968</td>
                <td>07/10/2026</td>
                <td>Premium</td>
                <td>3f02f3e2-450a-433b-b2e8-04bfdb4228c3</td>
            </tr>
        </table>
    </div>
</body>
</html>